body {
    background-color : #f2f3f2;
    margin :0px;
    padding: 0px;
}

.article{
    margin-top: 1%;
            /*border: 1px solid green;*/
            
            width: 100%;



}
.section{

                    /*border: 1px solid red;*/
                    display: flex;
                    justify-content: space-around;
                    margin: 0px 10%;
}
.article1{
  
    float: left;
    width: 230px;
    
    display: flex;
    flex-direction: column;
        text-align: center;

                /*border: 1px solid red;*/

}
.article2{
   display: flex;
    flex-direction: column;
    width: 230px;
        text-align: center;

                /*border: 1px solid red;*/

}
/**/
.article3{
display: flex;
    flex-direction: column;
    text-align: center;
    width: 230px;


}
.article img {
    width : 100%;
    height : 100%;
}
.positonIMG{
    width : 220px;
    height : 300px;

}

@media (max-width: 800px){

    .section{
        flex-direction: column;
        align-items: center;
    }
    .positonIMG{
        margin-top: 10px;
    }
}